# 1. Area of a circle

In [4]:
radius=int(input("Enter the radius of the circle:  "))
Area=3.14*radius**2
print("Area of a circle;", Area)

Enter the radius of the circle:  3
Area of a circle; 28.26

# 2.

In [23]:
Name=input("Enter the Name: ")
Rollno=int(input("Enter the roll no: "))
Mark=int(input("Enter the mark: "))
print("Name:", Name)
print("Rollno:" , Rollno)
print("Mark:", Mark)

Enter the Name: Anisha
Enter the roll no: 21
Enter the mark: 78
Name: Anisha
Rollno: 21
Mark: 78

# **3**.

In [25]:
Numbers=[12,3,47,10]
print(max(Numbers))

47

# 4.

In [29]:

previous_num= 0

for i in range(1,11):
  sum= previous_num + i
  print("Current Number:", i, "Previous Number:", previous_num ,"Sum:",sum )
  previous_num=i

Current Number: 1 Previous Number: 0 Sum: 1
Current Number: 2 Previous Number: 1 Sum: 3
Current Number: 3 Previous Number: 2 Sum: 5
Current Number: 4 Previous Number: 3 Sum: 7
Current Number: 5 Previous Number: 4 Sum: 9
Current Number: 6 Previous Number: 5 Sum: 11
Current Number: 7 Previous Number: 6 Sum: 13
Current Number: 8 Previous Number: 7 Sum: 15
Current Number: 9 Previous Number: 8 Sum: 17
Current Number: 10 Previous Number: 9 Sum: 19

# **5.**

In [38]:
Number=[10,20,33,46,55]
print("The numbers are", Number)
print( "divisible by 5 are ")
for i in Number:
  if i%5==0 :
    print(i)

The numbers are [10, 20, 33, 46, 55]
divisible by 5 are
10
20
55

# **6.**

In [39]:
n=int(input("Enter the no: "))
if n>1:
  for i in range(2,n):
   if n % i==0:
    print(n, "is not prime")
    break
  else:
    print(n, "is prime Number")
else:
  print(n, "is not prime  Number")

Enter the no: 3
3 is prime

# **7.**

In [41]:
No=[54,2,6,3,90,30]
for i in No[::-1]:
  print(i)

30
90
3
6
2
54

# 8.

In [42]:
def pattern(n):
  for i in range(1,n+1):
    for j in range(1,i+1):
      print("*", end="")
    print("")

n=int(input("Enter a number:"))
pattern(n)

Enter a number:6
*
**
***
****
*****
******

# **9.**

In [43]:
nos =[14,12,17]
print(max(nos))

17

# **10.**

In [44]:
def newpattern(n):

    for i in range(1,n+1):
      print('*' * i)

      #for j in range(1,i+1):
        #print("*", end="")
     # print("")


# Construct the lower part of the pattern
    for i in range(n - 1, 0, -1):
       print('*' * i)




n=int(input("Enter a number:"))
newpattern(n)

Enter a number:8
*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*