In [15]:
def count_characters(string):
    # Create an empty dictionary to store character counts
    char_count = {}

    # Count each character in the string
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    return char_count

# Prompt the user to enter a string
input_string = input("Enter a string value: ")
character_counts = count_characters(input_string)
print("Sample output:", end=" ")
for char, count in character_counts.items():
    print(f"{char}={count},", end=" ")
print()

Enter a string value: assembly
Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1,

# **2.**

In [16]:
a=int(input("enter the first no: "))
b=int(input("enter the second no: "))
c=int(input("enter the third no: "))
if a>b and a>c:
  print(a, "is the biggest")
elif b>a and b>c:
  print(b, "is the greatest")
else:
  print(c, "is the biggest")

enter the first no: 34
enter the second no: 12
enter the third no: 7
34 is the biggest

# **3.**

In [26]:
def expp(base,exp):
  print(base**exp)

base=int(input("Enter the base:"))
exp=int(input("Enter the exponent:"))

expp(base,exp)

Enter the base:2
Enter the exponent:3
8

# 4.

In [18]:
def cube(n):
  sum=0
  for i in range(1,n):
    sum += i**3

  return sum

n=int(input("Enter a number:"))
cube(n)

Enter a number:4

36

# **5.**

In [19]:
for i in range (1,11):
  if i % 2 == 0 and  i % 5 ==0 :
    print("FizzBuzz")
  elif i % 2 ==0 :
    print("Fizz")
  elif i % 5==0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

# 6.

In [20]:
def most_frequent(numbers):
    frequency = {}

    # Count frequency of each number in the list
    for num in numbers:
        if num in frequency:
            frequency[num] += 1
        else:
            frequency[num] = 1

    # Find the number with maximum frequency
    most_frequent_num = None
    max_frequency = 0
    for num, freq in frequency.items():
        if freq > max_frequency:
            max_frequency = freq
            most_frequent_num = num

    return most_frequent_num

numbers = [2, 3, 4, 2, 5, 2]

# Find the most frequent number
result = most_frequent(numbers)
print(f"The most frequent number is: {result}")

The most frequent number is: 2

# 7.

In [21]:
def listsum(numbers):
  sum=0
  for i in numbers:
    sum += i **2
  return sum

numbers=[2,1,3,1]
listsum(numbers)

15

# **8.**

In [22]:
for i in range(1,16):
  if i%2==0:
    print(i,"Is even")
  else:
    print(i,"Is odd")

1 Is odd
2 Is even
3 Is odd
4 Is even
5 Is odd
6 Is even
7 Is odd
8 Is even
9 Is odd
10 Is even
11 Is odd
12 Is even
13 Is odd
14 Is even
15 Is odd

# **9.**

In [23]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Example usage:
celsius_temperature = 5
fahrenheit_temperature = 41

converted_fahrenheit = celsius_to_fahrenheit(celsius_temperature)
converted_celsius = fahrenheit_to_celsius(fahrenheit_temperature)

print(f"{celsius_temperature} degrees Celsius is equal to {converted_fahrenheit} degrees Fahrenheit.")
print(f"{fahrenheit_temperature} degrees Fahrenheit is equal to {converted_celsius} degrees Celsius.")

5 degrees Celsius is equal to 41.0 degrees Fahrenheit.
41 degrees Fahrenheit is equal to 5.0 degrees Celsius.

# 10.

In [25]:
def fact(n):
  if n==0:
    return 1

     # Recursive case: factorial of n is n multiplied by factorial of (n-1)
  else:
        return n * fact(n - 1)

n=int(input("Enter a number:"))
fact(n)

Enter a number:3

6